body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #2b2b2b;
    margin: 0;  /*digunakan agar tidak ada margin default dari browser di bagian luar halaman. */
    padding: 40px 20px; /*vertical horizontal*/
}

/* Header */
#main-title{
    text-align: center;
    color: #1c3d5a;
    margin-bottom: 4px;
}

.subtitle{
    text-align: center;
    color: #5a5a5a;
    font-style: italic;
}


/* sectiontitle */
.section-title{
    color: #1c3d5a;
    border-bottom: 2px solid #1c3d5a;
    padding-bottom: 4px;
}

.card{
    background-color: white;
    width: 80%;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    border-radius: 20px;
}

.card img {
    width: 250px;
    border-radius: 15px;
}

.card a {
    color: rgb(41, 38, 205);
    text-decoration: none;
    font-weight: bold;
}

.description {
    color: gray;
    font-size: 18px;
    line-height: 1.5;
}

/* Materi 3 */
.card dt{
    text-align: left;
    font-weight: bold;
    color: #1c3d5a;
    margin-top: 10px;
}

p{
    text-indent: 20px;
}

dd {
    /* padding: 20px 0; */
    line-height: 30px;
}


/* Materi 3 Style List */
.skill-list {
    list-style-type: square;   /* disc, circle, square, none */
    padding-left: 20px;
}
.skill-list li {
    margin-bottom: 6px;
    color: #333;
}

.timeline {
    list-style: none;          /* hilangkan bullet default */
    padding-left: 0;            /*hilangkan padding default*/
    border-left: 3px solid #1c3d5a;
}
.timeline li {
    padding: 8px 16px;
    margin-bottom: 8px;
}

nav{
    background-color: rgb(137, 150, 228);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
}
nav li{
    list-style-type: none;
    display: inline-block; /*Menjadi 1 baris*/
    margin-right: 3%;
    justify-content:space-around;
    
}
nav ul {
    display: flex;
    flex :1;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: white;
    color: rgb(137, 150, 228);
}
