/* ======================== */
/* efek kartu */
.flip-card {
    width: 200px;
    height: 160px;
    perspective: 1000px; /* efek 3d tanpa ini akan jada datar putarannya */
}
.flip-card-inner {
    position: relative;
    width: 100%; height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d; /*Front dan back tetap berada dalam ruang 3D.*/
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /*untuk rotasi*/
}
.flip-card-front, .flip-card-back {
    position:absolute;  /* berada di posisi yang sama / bertumpuk */
    width: 100%; height: 100%;
    backface-visibility: hidden; /* hide bagian belakang */
    border-radius: 8px;
    overflow: hidden;
}
.flip-card-front img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; }
.flip-card-back {
    background: #1c3d5a;
    color: white;
    transform: rotateY(180deg);/* ini yang menentukan bagian belakang */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
}

/* ======================== */
/*   */