body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: blue;
  font-size: 30px;
  text-align: center;
}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  text-align: center;
}
button:active{
  background-color: lightgreen;
}